*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: inherit;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
} 

nav {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;  
}

.left-side {
    padding-top: 20px;
    padding-left: 25px;
}

.links-left {
    padding-right: 15px;
    font-size: 14px;
}
/*
.links-right {
    padding-left: 12px;
    margin-top: 20px;
}*/
/*
.right-side {
    padding: 10px;
}*/

.right-nav-container {
    display: flex;
    align-items: baseline;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#appsIcon {
    background-color: #ffffff;
    border: none;
    border-radius: 3rem;
}

#appsIcon:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.GoogleLogo {
    margin-top: 222px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*
#search {
    width: 585px;
    height: 46px;
    border: 1px solid #e3e3e3;
    border-radius: 3rem;
    margin-top: 26px;
    margin-bottom: 10px;
    background-image: url(https://lh3.googleusercontent.com/proxy/FBWekVG-fQgMffpUWqqsTVizGUT6EYHVCfUtmFPtBir69bd3aIMAlcsDIBSDeyO3OHQuIZYGvO4LjTuTA7S0HHpVO8XNlvac-XmtUizpJuwNU8KaU_qls5pwkQWfzsPgAv-D2-x1cOIbiLQk);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 3% 50%;
}
*/

#input_container {
    width: 585px;
    height: 46px;
    border: 1px solid #e3e3e3;
    border-radius: 3rem;
    margin-top: 26px;
    margin-bottom: 10px;
}

#input {
    height: 20px;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

#magnify {
    float: left;
    margin-left: 10px;
    
}

#mic {
    float: right;
}

#input_container:hover {
    box-shadow: 0px 1px 5px 1px #d6d6d6;
    border-style: none;
}

.centerButtons {
    text-align: center;
    margin: auto;
}

.centerSearchButtons {
    padding: 10px 17px;
    border-style: none;
    border-radius: 3px;
    margin: 19px 4px;
    background-color: #f8f8f8;
    font-size: 14px;
}

.centerSearchButtons:hover {
    box-shadow: 1px 1px 2px 1px #d6d6d6;
    padding: 10px 17px;
    margin: 4px;
}

footer {
    position: fixed;
    height: 94px;
    width: 100%;
    background-color: #f2f2f2;
    bottom: 0;
    text-align: center;
}

footer a {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}

footer p {
    padding: 15px;
    margin-bottom: 15px;
}

.footerLeft {
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 140px;
    /* Need to make auto adjust */
}

.footerRight {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 140px;
    /* Need to make auto adjust */
}

.footerLeft a {
    margin-left: 15px;
    margin-right: 15px;
}

.footerRight a {
    margin-left: 15px;
    margin-right: 15px;
}

#leaf {
    height: 15px;
    width: auto;
    margin-right: 3px;
}